<a href="https://colab.research.google.com/github/Sublustrum007ru/AdguardFilters/blob/4-life-patch-1/Seminar_9(23_01).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Задача №57. Решение в группах

1. Прочесть с помощью pandas файл
california_housing_test.csv, который находится в папке
sample_data
2. Посмотреть сколько в нем строк и столбцов
3. Определить какой тип данных имеют столбцы

In [ ]:
import pandas as pd # alias(псевдоним)

# dataframe
df = pd.read_csv('sample_data/california_housing_test.csv')
df.head() # первые 5 строк

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0
1,-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0
2,-117.81,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0
3,-118.36,33.82,28.0,67.0,15.0,49.0,11.0,6.1359,330000.0
4,-119.67,36.33,19.0,1241.0,244.0,850.0,237.0,2.9375,81700.0

In [ ]:
df.isnull().sum()

longitude             0
latitude              0
housing_median_age    0
total_rooms           0
total_bedrooms        0
population            0
households            0
median_income         0
median_house_value    0
dtype: int64

In [ ]:
df.dtypes

longitude             float64
latitude              float64
housing_median_age    float64
total_rooms           float64
total_bedrooms        float64
population            float64
households            float64
median_income         float64
median_house_value    float64
dtype: object

### Задача №59. Общее обсуждение
1. Проверить есть ли в файле пустые значения
2. Показать median_house_value где median_income < 2
3. Показать данные в первых 2 столбцах
4. Выбрать данные где housing_median_age < 20 и
median_house_value > 70000

In [ ]:
df.shape

In [ ]:
# пункт 2
# df[df['median_income'] < 2]['median_house_value']
df.loc[df['median_income'] < 2, 'median_house_value']

In [ ]:
# пункт 3
# df['longitude']
df[['longitude', 'latitude']]

In [ ]:
df[df.columns[:2]] # я не знаю названия первых 2-х столбцов

In [ ]:
df.iloc[0] # данные i-ой строки

longitude               -122.0500
latitude                  37.3700
housing_median_age        27.0000
total_rooms             3885.0000
total_bedrooms           661.0000
population              1537.0000
households               606.0000
median_income              6.6085
median_house_value    344700.0000
Name: 0, dtype: float64

In [ ]:
df.columns

Index(['longitude', 'latitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income',
       'median_house_value'],
      dtype='object')

In [ ]:
# & - and
# | - or

df.loc[(df['housing_median_age'] < 20) & (df['median_house_value'] > 70000)]
# df[(df['housing_median_age'] < 20) & (df['median_house_value'] > 70000)]

### Задача №61. Общее обсуждение

1. Определить какое максимальное и минимальное
значение median_house_value
2. Показать максимальное median_house_value, где
median_income = 3.1250
3. Узнать какая максимальная population в зоне
минимального значения median_house_value

In [ ]:
# пункт 1
df['median_house_value'].min(), df['median_house_value'].max()

In [ ]:
df['median_house_value'].describe()

In [ ]:
# пункт 2
df[df['median_income'] == 3.125]['median_house_value'].max()

233300.0

In [ ]:
df[df['median_house_value'] == df['median_house_value'].max()]

In [ ]:
# 3 пункт
df[df['median_house_value'] == df['median_house_value'].min()]['population'].max()

1230.0